---
language: go
go:
  - "1.12"
dist: xenial

env:
  global:
    - HELM_URL=https://storage.googleapis.com/kubernetes-helm
    - HELM_TGZ=helm-v2.13.0-linux-amd64.tar.gz
    - OUT_DIR=out

install:
  - curl -sSLo /tmp/helm.tgz "${HELM_URL}/${HELM_TGZ}"
  - tar -xzvf /tmp/helm.tgz
  - PATH=$(pwd)/linux-amd64/:$PATH
  - helm init --client-only
  - sudo apt-get install jq

before_script:
  - git fetch origin gh-pages

if: branch = master OR type = pull_request

script: ./.ci/build.sh

deploy:
  provider: pages
  local-dir: $OUT_DIR
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  on:
    branch: master
