# Code owners of APPUiO Helm charts

# As a Code owner, you are requested for Pull Request reviews

# Used by VSHN as part of product offering
/appuio/k8up              @appuio/tarazed
/appuio/mariadb-galera    @appuio/tarazed
/appuio/redis             @appuio/tarazed
/appuio/generic           @appuio/tarazed
/appuio/openshift-route   @appuio/tarazed
/appuio/secret            @appuio/tarazed
/appuio/haproxy           @appuio/tarazed

# Other charts
/appuio/signalilo         @simu
/appuio/maxscale          @appuio/pollux
/appuio/exoip             @appuio/pollux

# Stardog
/appuio/stardog                    @appuio/nunki
/appuio/stardog-userrole-operator  @appuio/nunki


# Contributed charts
/appuio/data-cube-curation @ludovicm67
/appuio/trifid             @ludovicm67
