# Code owners of APPUiO Helm charts

# As a Code owner, you are requested for Pull Request reviews

# Used by VSHN as part of product offering
/appuio/mariadb-galera    @appuio/schedar
/appuio/redis             @appuio/schedar
/appuio/generic           @appuio/schedar
/appuio/haproxy           @appuio/schedar

# Other charts
/appuio/signalilo         @simu
/appuio/maxscale          @appuio/pollux
/appuio/exoip             @appuio/pollux

# Stardog
/appuio/stardog                    @appuio/nunki
/appuio/stardog-userrole-operator  @appuio/nunki


# Contributed charts
/appuio/data-cube-curation @ludovicm67
/appuio/trifid             @ludovicm67
