apiVersion: v1
kind: Service
metadata:
  name: {{ template "openshift-oauth-proxy.fullname" $ }}
  labels:
    app: {{ template "openshift-oauth-proxy.name" $ }}
    chart: {{ template "openshift-oauth-proxy.chart" $ }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: http
  selector:
    app: {{ template "openshift-oauth-proxy.name" $ }}
  type: ClusterIP
