# Default values for signalilo.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2

image:
  registry: registry.vshn.net
  repository: vshn/signalilo
  tag: 0.0.2
  pullPolicy: IfNotPresent
  # username:
  # password:
  # existingPullSecret: my-image-pull-secret

nameOverride: ""
fullnameOverride: ""

# Required configuration
config:
  # uuid: 9ec06d59-aa0c-4434-b5e2-1aeaf93cd925
  # icinga_hostname: localhost
  # icinga_url: https://localhost:5665
  # icinga_username: icinga_user
  # icinga_password: icinga_user_pw
  # icinga_password_secret:
  alertmanager_port: 8888
  # alertmanager_bearer_token: aaaaaa
  # alertmanager_bearer_token_secret:

# Optional extra configuration
# extraEnvVars:
# - name: SIGNALILO_LOG_LEVEL
#   value: "2"
# - name: SIGNALILO_ICINGA_INSECURE_TLS
#   value: "false"
# - name: SIGNALILO_ICINGA_DEBUG
#   value: "false"
# - name: SIGNALILO_ICINGA_GC_INTERVAL
#   value: "15m"
# - name: SIGNALILO_ICINGA_HEARTBEAT_INTERVAL
#   value: "60s"
# - name: SIGNALILO_ICINGA_KEEP_FOR
#   value: "168h"

securityContext:
  enabled: false
  runAsUser: 999
  fsGroup: 999

resources:
  requests:
    cpu: 100m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
