# Default values for cloud-portal.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  # -- Container image registry
  registry: ghcr.io
  # -- Location of the container image
  repository: appuio/cloud-portal
  # -- Container image tag
  tag: v0.0.2
  # -- Container image pull policy.
  # If set to empty, then Kubernetes default behaviour applies.
  pullPolicy: IfNotPresent

# -- List of image pull secrets if custom image is behind authentication.
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

portal:
  # -- Arbitrary (nested) keys and values that are put as JSON into `config.json` as a static frontend asset.
  # Don't put secret values here, as this file is publicly accessible.
  config: {}

  # -- Arbitrary {key:string} values that are used to configure additional environment variables.
  # They are meant to configure NGINX config files (envsubst)
  env: {}
  # example:
  # SOME_KEY: VALUE

serviceAccount:
  # -- Specifies whether a service account should be created
  create: true
  # -- Annotations to add to the service account
  annotations: {}
  # -- The name of the service account to use.
  # If not set and `create` is `true`, a name is generated using the fullname template
  name: ""

# -- Annotations to add to the Pod spec.
podAnnotations: {}

# -- Security context to add to the Pod spec.
podSecurityContext: {}

# -- Container security context
securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  # -- Service type
  type: ClusterIP
  # -- Service port number
  port: 8080
  # -- Node port number if `type` is `NodePort`
  nodePort: 0

ingress:
  # -- Whether to deploy an Ingress
  enabled: false
  # -- Additional annotations for the Ingress object
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"

  # -- See Kubernetes Docs for a guide to setup Ingress hosts
  hosts: []
  # -- See Kubernetes Docs for a guide to setup TLS on Ingress
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

route:
  # -- Whether to deploy a Route
  enabled: false
  # -- Additional annotations for the Route object
  annotations: {}
  # -- Hostname to expose.
  # If empty, a name will be generated by OpenShift.
  host: ""
  # -- `metadata.name` of the Route.
  # May be used to generate the `spec.host`.
  # Defaults to fullname.
  name: ""

resources:
  limits:
    memory: 128Mi
  requests:
    cpu: 20m
    memory: 32Mi

nodeSelector: {}

tolerations: []

affinity: {}
